@import '../../../styles/variables.scss';

// .homeContainer {
//     padding-left: 40px;
//     padding-right: 40px;
// }

.homeUpper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.homeMiddle {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    text-align: left;
    width: 91%;
    margin-left: 4.7%;
    margin-right: 4.7%;
}

.featuredPics {
    width: 100%;
    max-height: 400px;
}

#theSlider {
    width: 97%;
    // max-height: 400px;
}

.slideInner___2mfX9 {
    height: 400px;
}

.featuredListText {
    text-align: left;
    width: 100%;
    margin-left: 10px;
    color:white;
}

.latestProductsText {
    text-align: left;
    width: 100%;
    margin-left: 10px;
    color:white;
}

.productTypesText {
    text-align: left;
    width: 100%;
    margin-left: 10px;
    color:white;
}