.user-profile-card {
    height: 350px;
    width: 700px;
    border: 3px black solid;
    margin: 10px;
    background-color: whitesmoke;

    .header {
        background-color: gray;
        color: white;
        text-align: start;
    }
}