.productDetailsContainer {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	// border: solid 1px white;
	border-radius: 1rem;
	margin: 35px 20px;
}

#productDetailLine {
	width: 95%;
	background-color: white;
}

#leftCol {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 40px 50px 40px;
	width: max-content;
}

#middleCol {
	display: flex;
	justify-content: left;
	flex-direction: column;
	margin-top: 40px;
	color: white;
	font-size: 20px;

	#priceAndQuantityDiv {
		display: flex;
		margin-top: 10px;
		
		#quantityDiv {
			margin-left: 75px;
		}
	}

	#productDetails {
		max-height: max-content;
		max-width: 550px;
		text-align: left;
	}

	#quantityInput {
		text-align: center;
		min-width: 25px;
		max-width: 35px;
		height: 30px;
	}
}


#latestProductsSlider {
	color:white;
	background-color: lightgray;
	width: 500px;
	height: 100px;
}

#rightCol {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.productDetailImg {
	max-width: 550px;
	max-height: 550px;
	border-radius: 1rem;
}

.imageDiv {
	max-width: 550px;
	max-height: 550px;
}

.productTitle {
	text-align: left;
	color: white;
}

#productDetailTitleLine {
	width: 100%;
	margin: 5px;
	background-color:white;
}

#productDetailPrice {
	color: red;
	font-weight: bold;
	font-size: 25px;
}

.listPrice {
	text-align: left;
	margin-bottom: 10px;
}

#descriptionHeader {
	text-align: left;
}

.productDetailsButtonContainer {
	display: flex;
	justify-content: center;
	margin-top: 200px; 
}

.productDetailsButton {
	margin: 20px;
	width: 150px;
	height: 35px; 
}

.alert {
	z-index: 1 !important; 
}