.deal-of-the-day-card {
    height: 350px;
    width: 625px;
    border: 3px black solid;
    margin: 20px 5px;
    background-color: whitesmoke;

    h2 {
        background-color: gray;
        color: white;
    }
}