.user-account-container {
    display: flex;
    justify-content: center;
}

.user-account-section {
    justify-content: center;
    width: 25%;
    flex-wrap: wrap;
    text-align: left;
}

.user-account-sub-section {
    height: 300px;
}