.product-img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.cartHomeImg {
  width: 100px;
  height: 75px;
  border-radius: 10px;
}

.quantityInput {
  text-align: center;
  min-width: 25px;
  max-width: 35px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .cart-item {
    font-size: 10px;
  }

  .product-img {
    width: 82px;
    height: 55px;
    border-radius: 10px;
  }
  
}