@import '../../styles/variables.scss';

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: $dark;
}

.footerText {
    font-size: 30px;
    color: white;
}