.cartCard {
  background-color: whitesmoke;
  color: gray;
}

.subTotalCard{
  background-color: gray;
  border-radius: 10px;
}

.subTotalText{
  color: white;
}

.totalPrice {
  color: #ffc107
}

.dropdown {
  border: solid black 1px;
}

.sub {
  font-weight: bold; 
}

.sad-skull {
  height: 250px;
  width: 250px;
}
