.cartHeader {
  background-color: gray;
  color: white;
}

.cartCard {
  background-color: whitesmoke;
  color: gray;
}

.subTotalCard{
  background-color: gray;
  border-radius: 10px;
}

.subTotalText{
  color: white;
}

.totalPrice {
  color: #ffc107
}