#paymentCardContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 75px;
}

#paymentTypesHeader {
	color: white;
}

#addPaymentButtonDiv {
	margin-top: 40px;
}

#paymentCard {
	background-color: gray;
	width: 400px;
	height: 150px;
	border-radius: 1rem;
	color: white;
}

#paymentDropdown {
	border: solid white 1px;
	background-color: yellow;
	color: black;
}

.paymentTypeForm {
	display: flex;
	justify-content: center;
	background-color: gray;
	margin: 40px;
	border-radius: 1rem;
	width: 450px;
	height: 250px;

	input {
		width: 250px;
	}
}