const apiKeys = {
    firebaseConfig: {
      apiKey: '',
      authDomain: '',
      databaseURL: '',
      projectId: '',
      storageBucket: '',
      messagingSenderId: '',
    },
    sadApi: {
      apiBaseUrl: ""
    },
  };
  
  export default apiKeys;