.user-profile-card {
    height: 350px;
    width: 625px;
    border: 3px black solid;
    margin: 20px 0;
    background-color: whitesmoke;
    overflow: hidden;
    .header {
        background-color: gray;
        color: white;
        text-align: start;
    }
}