@import '../../../styles/variables.scss';

.dashboard-header {
    background-color: $dark;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.seller-management-container {
    display: flex;
    justify-content: center;
}

.sm-tile {
    cursor: pointer;
}

.seller-dashbpard {
    width: 200px;
}