@import '../../../styles/variables.scss';

.seller-management {
    text-align: center;
}

.dashboard-header {
    background-color: $dark;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
}

.dashboard-middle {
    display: flex;
  }

.sm-tile {
    cursor: pointer;
}

.sticky {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
}