@import '../../styles/variables.scss';

.logout-link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

#menuIcon {
    width: 40px;
    height: 40px;
    margin: 15px 35px 15px 15px;
    color: white;
}

#navbar {
    background: $dark;
}

.the-navbar {
    background: $dark;
}

#brandLogo {
    color: white;
    font-size: 30px;
}
.navbar-brand {
    color: white;
}
#categoryDropdown {
    color: rgba(255, 255, 255, 0.5);
}

.dropdownOption {
    color: black !important;
}

.searchBar {
    border: none !important;
    border-radius: 1rem;
    width: 650px;
    margin-right: 115px;
    margin-left: 20px;
    margin-top: 5px;
}

.react-search-field-input {
    border-radius: 1rem 0 0 1rem;
    border: none;
}

.react-search-field-button {
    border-radius: 0 1rem 1rem 0;
}

#searchResults {
    overflow: hidden;
    overflow-y: scroll;
}

.searchResultsCard {
    max-height: 300px;
}

