.logout-link {
    cursor: pointer;
}

#menuIcon {
    width: 40px;
    height: 40px;
    margin: 15px 35px 15px 15px;
    color: white;
}

#navbar {
    background-color: gray;
}

#brandLogo {
    color: white;
    font-size: 30px;
}