#sellerProductsLine {
	width: 95%;
	border: solid white 1px;
}

.sellerImageDiv {
	border-radius: 9em;
	margin: 15px 0;
}

.sellerStoreImg {

	width: 200px;
	height: 200px;
	border-radius: 9em;
}

#sellerCardHeader {
	height: 80px;
	background-color: lightgray;
	border-radius: 1rem 1rem 0rem 0rem;
}

// .sellerStoreContainer {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }

.cardContainer {
	display: flex;
	justify-content: center;
}

.sellerCard {
	display: flex;
	flex-direction: column;
	color: black;
	width: 60%;
	height: 350px;
	background-color: white;
	border-radius: 1rem;
}

#moreProducts {
	color: white;
}

.sellerName {
	color: black;
	margin: 10px;
}
