#sellerProductsLine {
	width: 95%;
	border: solid white 1px;
}

.sellerImageDiv {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 9em;
	margin: 10px;
}

.sellerStoreImg {
	width: 200px;
	height: 200px;
	border-radius: 9em;
}

// .sellerStoreContainer {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }

.cardContainer {
	display: flex;
	justify-content: center;
}

.sellerCard {
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
	padding-top: 30px;
	width: 30%;
	height: 350px;
	background-color: white;
	border-radius: 1rem;
}

.sellerName {
	color: black;
	// text-align: left;
	margin: 10px;
}
