#sellerProductsLine {
	width: 95%;
	border: solid white 1px;
}

.sellerImageDiv {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 9em;
	margin-left: 40px;
}

.sellerStoreImg {
	width: 200px;
	height: 200px;
	border-radius: 9em;
}

// .sellerStoreContainer {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }

.cardContainer {
	display: flex;
	justify-content: center;
}

.sellerCard {
	padding-top: 30px;
	width: 90%;
	height: 300px;
	background-color: white;
	border-radius: 1rem;
}