.latest-products-card {
    display:flex;
    justify-content: left;
    overflow: hidden;
    overflow-x: auto;
    height: 350px;
    width: 100%;
    border: 3px black solid;
    margin-bottom: 10px;
    background-color: black;
}
